.navbar {
    display:flex;
padding: 20px 35px 20px 35px;
align-items: center;
justify-content: space-between;
flex-shrink: 1;
}
.fixed{
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-shrink:1;
        top: 0;
        width: 100%;
        background-color:white;
        z-index: 9999;
       
}

.logo{
    display: flex;
        width: 10%;
    height: 5vh;
    flex-shrink: 1;
}

.weight{
    font-weight: 600;
}
.flex{
    display: flex;
    align-items: center;
}
.gap25{
    gap:25px !important;
}
.gap10{
    gap:10px;
}
.div3{
        border: 1px solid;
            border-color: rgb(218, 210, 210);
            border-radius: 28px;
            padding: 10px ;
          
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #f4f4f4;

    margin: 0px;
}
.types{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    font-size: medium;
}
.data{
    display: flex;

    gap:50px;
     overflow-y: hidden;
    padding:10px;
}
.dataText{
    width: max-content;
    font-size: 15px !important;
    font-family: serif;
}
.icons{
    font-size:20px !important;
}
.container {
padding:0px 20px 0px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px !important;
    width: 80vw !important;

}

.content {
overflow: hidden;
  
}
.scroll-button {
box-shadow: 0 2px 15px rgba(144, 142, 142, 0.12) !important;
    width: 40px ;
 
    height: 35px;
 
    top: 0;
    margin: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    border: 1px solid #edeaea;
    border-radius: 50px !important;
 
    cursor: pointer;
}
.scroll-left {
    left: 0;
    top: 0;
}

.scroll-right {
    right: 0;
    top: 0;
}
.shadow{
    border: 0px solid;
        border-color: rgb(255, 255, 255);
        border-radius: 18px;
        padding: 0px 18px 0px 18px;
        box-shadow: 0 2px 15px rgba(149, 148, 148, 0.12);
}

@media (max-width: 1054px) {
.filter{
    display: none !important;
}
}
@media (max-width: 914px) {
.logo{
    display: none !important;
}

}
@media (max-width: 529px) {
    .user{
        display: none !important;
    }

}